@import url("https://fonts.googleapis.com/css?family=Amatic+SC");
@import url("https://fonts.googleapis.com/css?family=Raleway");
html, body {
  margin: 0;
  padding: 0; }

.container {
  margin-top: 10px;
  font-family: 'Raleway', cursive; }

.center {
  text-align: center; }

.flip {
  -webkit-perspective: 800;
  width: 200px;
  height: 200px;
  position: relative;
  margin: 30px auto;
  font-family: 'Amatic SC', cursive; }
  .flip img {
    width: 200px;
    height: 200px; }
  .flip .card {
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s; }
    .flip .card.flipped {
      -webkit-transform: rotatey(-180deg);
      background: transparent; }
    .flip .card .face {
      width: 100%;
      height: 100%;
      position: absolute;
      -webkit-backface-visibility: hidden;
      z-index: 2;
      font-size: 3em;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center; }
    .flip .card .front {
      position: absolute;
      z-index: 1;
      /*background: black;*/
      cursor: pointer; }
    .flip .card .back {
      -webkit-transform: rotatey(-180deg);
      cursor: pointer;
      border: 5px #eee; }

.prizes {
  font-size: 2em; }
  .prizes .prize-list {
    font-size: 0.8em; }

.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background: linear-gradient(240deg, rgba(36, 102, 85, 0.8), rgba(36, 37, 102, 0.8)); }

.overlay h2, .overlay h5 {
  animation: fadeAndScale 2s;
  -webkit-animation: fadeAndScale 2s;
  animation-timing-function: cubic-bezier(0.71, 0.55, 0.62, 1.57);
  -webkit-animation-timing-function: cubic-bezier(0.71, 0.55, 0.62, 1.57); }

.custom-btn {
  margin-top: 10px;
  border-radius: 4px;
  color: #FFF;
  box-shadow: 0 0 40px rgba(99, 86, 229, 0.6);
  background-color: #3A539B;
  font-weight: 900; }

.navbar-default {
  background-color: #E72E77; }
  .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:visited {
    color: #fff; }

@keyframes fadeAndScale {
  from {
    opacity: 0;
    transform: scale(0.9, 0.9); }
  to {
    opacity: 1;
    transform: scale(1, 1); } }

@-webkit-keyframes fadeAndScale {
  from {
    opacity: 0;
    transform: scale(0.9, 0.9); }
  to {
    opacity: 1;
    transform: scale(1, 1); } }
